# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.fvm/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/.output.txt
/show_py_content.py
/FoodApiTest/
/otus_food_app/
key.properties

# Node.js related (for ./api directory)
api/node_modules/
api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/lerna-debug.log*
api/.pnpm-debug.log*
api/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
api/pids
api/*.pid
api/*.seed
api/*.pid.lock
api/.lock-wscript
api/build/Release
api/.nyc_output
api/.grunt
api/bower_components
api/jspm_packages/
api/typings/
api/*.tsbuildinfo
api/.npm
api/.eslintcache
api/.stylelintcache
api/.rpt2_cache/
api/.rts2_cache_cjs/
api/.rts2_cache_es/
api/.rts2_cache_umd/
api/.node_repl_history
api/*.tgz
api/.yarn-integrity
api/.env
api/.env.local
api/.env.development.local
api/.env.test.local
api/.env.production.local
api/.parcel-cache
api/.next
api/out
api/.nuxt
api/dist
api/.cache/
api/.vuepress/dist
api/.serverless/
api/.fusebox/
api/.dynamodb/
api/.tern-port
api/.vscode-test
api/.yarn/cache
api/.yarn/unplugged
api/.yarn/build-state.yml
api/.yarn/install-state.gz
api/.pnp.*
api/data/
api/*.db
api/*.sqlite
api/*.sqlite3
